{% extends 'base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

<script src='../static/nprogress/nprogress.js'></script>
<link rel='stylesheet' href='../static/nprogress/nprogress.css'/>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

<link rel="stylesheet" href="../static/css/stylesheet.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h4 align="center">Crime Trends by Hour<br></h4>
    		<canvas id="TimeChart"></canvas>
            <h4 align="center"><br>Crime Trends by Day<br></h4>
    		<canvas id="DayChart"></canvas>
            <h4 align="center"><br>Crime Trends by Month<br></h4>
    		<canvas id="MonthChart"></canvas>
		</div>
        <div class="col-md-3">
            <nav id='filters' class='filter-ui_charts'>
                <div>
                    <label>
                        Crime Category
                    </label>
                </div>
                <div>
                    <input type="checkbox" name="map_category" value='Personal Theft/Larceny' checked>Personal Theft/Larceny
                </div>
                <div>
                    <input type="checkbox" name="map_category" value='Robbery' checked>Robbery
                </div>
                <div>
                    <input type="checkbox" name="map_category" value='Rape/Sexual Assault' checked>Rape/Sexual Assault
                </div>
                <div>
                    <input type="checkbox" name="map_category" value='Aggravated Assault' checked>Aggravated Assault
                </div>
                <div>
                    <input type="checkbox" name="map_category" value='Simple Assault' checked>Simple Assault
                </div>
                <div>
                    <input type="checkbox" name="map_category" value='Other' checked>Other
                </div>
            </nav>
        </div>
    </div>    
</div>

<script src='../static/js/trend_charts.js'></script>

{% endblock %}