{% extends 'base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

<script src='../static/nprogress/nprogress.js'></script>
<link rel='stylesheet' href='../static/nprogress/nprogress.css'/>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
			<canvas id="TimeChart" width="800" height="400"></canvas>
			<canvas id="DayChart" width="800" height="400"></canvas>
			<canvas id="MonthChart" width="800" height="400"></canvas>
		</div>
        <div class="col-md-3">
            <div>
                <label>
                    Crime Category
                </label>
            </div>
            <div>
                <input type="checkbox" name="map_category" value='Personal Theft/Larceny' checked>Personal Theft/Larceny
            </div>
            <div>
                <input type="checkbox" name="map_category" value='Robbery' checked>Robbery
            </div>
            <div>
                <input type="checkbox" name="map_category" value='Rape/Sexual Assault' checked>Rape/Sexual Assault
            </div>
            <div>
                <input type="checkbox" name="map_category" value='Aggravated Assault' checked>Aggravated Assault
            </div>
            <div>
                <input type="checkbox" name="map_category" value='Simple Assault' checked>Simple Assault
            </div>
            <div>
                <input type="checkbox" name="map_category" value='Other' checked>Other
            </div>
        </div>
    </div>    
</div>

<script src='../static/js/trend_charts.js'></script>

{% endblock %}