{% extends 'base.html' %}
{% block content %}

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.42.0/L.Control.Locate.min.js'></script>

<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.42.0/L.Control.Locate.mapbox.css' rel='stylesheet' />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div id="map"></div>
        </div>
        <div class="col-md-3">
            <form action="/heat" method="POST">
                <div class="form-group">
                    <label>Period Start
                        <input type="date" class="input-sm form-control" name="start" />
                    </label>
                    <span class="input-group-addon">to</span>
                    <label>Period End
                        <input type="date" class="input-sm form-control" name="end" />
                    </label>
                    <br>
                    <label>Crime Category 
                        <br>
                        <input type ="checkbox" name="map_category", value='Personal Theft/Larceny'>Personal Theft/Larceny
                        <br>
                        <input type ="checkbox" name="map_category", value='Robbery'>Robbery
                        <br>
                        <input type ="checkbox" name="map_category", value='Rape/Sexual Assault'>Rape/Sexual Assault
                        <br>
                        <input type ="checkbox" name="map_category", value='Aggravated Assault'>Aggravated Assault
                        <br>
                        <input type ="checkbox" name="map_category", value='Simple Assault'>Simple Assault
                        <br>
                        <input type ="checkbox" name="map_category", value='Other'>Other
                    </label>
                    <br>
                    <button type="submit" id="heat_button" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>    
    </div>

<script src='../static/js/map.js'></script>
<script src='../static/js/heatmap.js'></script>

{% endblock %}