{% extends 'base.html' %}
{% block content %}

<style>
  .filter-ui {
    background:#fff;
    position:absolute;
    top:10px;
    right:10px;
    z-index:100;
    padding:10px;
    border-radius:3px;
    }
  /*
   * This is a very simple version of a 'loading screen': there are much
   * fancier ones you can use instead, like
   * http://codepen.io/collection/HtAne/
   * http://jh3y.github.io/-cs-spinner/
   */
  #loader {
      position:absolute; top:0; bottom:0; width:100%;
      background:rgba(255, 255, 255, 1);
      transition:background 1s ease-out;
      -webkit-transition:background 1s ease-out;
  }
  #loader.done {
      background:rgba(255, 255, 255, 0);
  }
  #loader.hide {
      display:none;
  }
  #loader .message {
      position:absolute;
      left:50%;
      top:50%;
  }

</style>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.42.0/L.Control.Locate.min.js'></script>

<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.42.0/L.Control.Locate.mapbox.css' rel='stylesheet' />

<script src='../static/nprogress/nprogress.js'></script>
<link rel='stylesheet' href='../static/nprogress/nprogress.css'/>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

<script src="http://codepen.io/jakealbaugh/pen/WvNjZB.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div id="map"></div>
            <div id='loader'><span class='message'>loading</span></div>
<!--             <svg class="svg" width=200 height=200>
              <circle cx=100 cy=100 r=50 />
            </svg> -->
            <nav id='filters' class='filter-ui'></nav>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Period Start
                    <input type="date" class="form-control" name="start" min="2003-01-01">
                </label>
            </div>
            <span class="input-group-addon">to</span>
            <div class="form-group">
                <label>Period End
                    <input type="date" class="form-control" name="end">
                </label>
            </div>
            <button id="heat_button" class="btn btn-primary">Submit</button>
        </div>    
    </div>

<script src='../static/js/map.js'></script>
<script src='../static/js/heatmap.js'></script>
<script src='../static/js/load.js'></script>

{% endblock %}