<html>
<head>
<meta charset=utf-8 />
<title>A simple map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<script src="https://code.jquery.com/jquery.js"></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
    <div id='map'></div>
    <script>
        // Provide access token
        L.mapbox.accessToken = 'pk.eyJ1Ijoic2hhYmVtZGFkaSIsImEiOiIwckNSMkpvIn0.MeYrWfZexYn1AwdiasXbsg';
        
        // Set up map characteristics
        var geocoder = L.mapbox.geocoder('mapbox.places'),
        map = L.mapbox.map('map', 'shabemdadi.fab5eb0c')
            .addLayer(L.mapbox.tileLayer('shabemdadi.fab5eb0c'))
            .addControl(L.mapbox.geocoderControl('mapbox.places'));
        
        // Set location to be San Francisco
        geocoder.query('San Francisco, CA', showMap);

        function showMap(err, data) {
            // The geocoder can return an area, like a city, or a
            // point, like an address. Here we handle both cases,
            // by fitting the map bounds to an area or zooming to a point.
            if (data.lbounds) {
                map.fitBounds(data.lbounds);
            } else if (data.latlng) {
                map.setView([data.latlng[0], data.latlng[1]], 13);
            }
        }
        
        // Assign markers to locations of crime incidents 
        $.get("/crime",function(result){
            var geojson = [];
            for(item in result){
                var item_loc = 
                      {
                        "type": "Feature",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [result[item]['lat'], result[item]['long']]
                        },
                        "properties": {
                          "title": "Mapbox DC",
                          "description": "1714 14th St NW, Washington DC", // need to add in address
                          "marker-color": "#fc4353",
                          "marker-size": "large",
                          "marker-symbol": "monument"
                        }
                      };
                geojson.push(item_loc);};
                map.featureLayer.setGeoJSON(geojson);});
                
    </script>
</body>
</html>
